<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studynook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyNook">
        <activity android:name=".EditCalendarEvent"></activity>
        <activity android:name=".ResetPasswordPage" />
        <activity android:name=".CalendarPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WellBeingPage" />
        <activity android:name=".MentalHealthPage" />
        <activity android:name=".FitnessPage" />
        <activity android:name=".HomePage" />
        <activity android:name=".FlashcardPage" />
        <activity android:name=".NotePage" />
        <activity android:name=".EditText" />
        <activity android:name=".CountdownPage" />
        <activity android:name=".SetAlarm" />
        <activity android:name=".CreatePage" />
        <activity android:name=".TutorialPage" />
        <activity android:name=".ReferencePage" />
        <activity android:name=".LibraryPage" />
        <activity android:name=".ResourcesPage" />
        <activity android:name=".TimerPage" />
        <activity android:name=".AlarmPage" />
        <activity android:name=".PlannerPage" />
        <activity android:name=".LoginPage" />
        <activity android:name=".SchedulingPage" />
        <activity android:name=".SignUpPage" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".ViewCalendarEvents" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>